<!-- Hero / Header Section -->
<section class="bg-primary text-white py-16 text-center">
  <h1 class="text-4xl sm:text-5xl font-bold">Наши продукты</h1>
  <p class="text-lg text-gray-200 mt-4">Ознакомьтесь с нашим разнообразным ассортиментом продукции премиум-класса. <br> 
    Разработанной с особой тщательностью и стремлением улучшить ваше здоровье и образ жизни.</p>
</section>

<!-- Product Grid -->
<div class="max-w-6xl mx-auto py-20 px-6 grid md:grid-cols-3 gap-10">
  <div *ngFor="let product of products"
       [routerLink]="['/products', product.id]"
       class="bg-white p-8 rounded-2xl shadow hover:shadow-xl hover:-translate-y-2 transition transform duration-300 cursor-pointer flex flex-col">
    
    <!-- Icon -->
    <div class="mb-6 flex justify-center">
      <img [src]="product.image" [alt]="product.name" class="h-30 w-30" />
    </div>

    <!-- Title -->
    <h3 class="text-2xl font-semibold mb-4 text-center">{{ product.name }}</h3>

    <!-- Description -->
    <p class="text-gray-600 flex-grow text-center">
      {{ product.description }}
    </p>

    <!-- Read More -->
    <div class="mt-6 text-center">
      <span class="text-accent font-semibold hover:underline">
        Читать далее +
      </span>
    </div>
  </div>
</div>